<span>{{ item.expense }}</span>

<div class="expense-btn-group">
    <button type="button"
            class="btn btn-primary"
            (click)="openModal(expenseModal)">
        Edit
    </button>
</div>

<ng-template #expenseModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Expense: {{ item.expense }}</h4>
    </div>

    <div class="modal-body">
        Edit expense
        <form [formGroup]="editExpenseForm">
            <input type="text"
                   [class.is-valid]="isSubmit && editExpenseForm.invalid"
                   formControlName="expense">
        </form>
    </div>

    <footer>
        <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
    </footer>
</ng-template>