<ul class="list-group list-group-flush expenses-list" *ngIf="expenses">
  <li class="list-group-item list-group-item-primary expense-item" *ngFor="let expense of expenses">
    <header class="expense-header">
      <div class="d-flex">
        <app-expense-item [item]="expense">
        </app-expense-item>
      </div>
      <div class="expense-btn-group">
        <button type="button" class="btn btn-primary" (click)="openModal(expenseModal)">
          Create
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteExpense(expense.id)">
          <i class="material-icons">
            delete
          </i>
        </button>


      </div>
    </header>
  </li>
</ul>

<ng-template #expenseModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>

<footer>
  <button type="button" class="btn btn-outline-secondary" (click)="cancle()">Cancle</button>
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</footer>
</ng-template>